/* General styles */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 1.5rem;
}

h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a75151;
  /* Replace with your preferred dark color code */
}

form {
  margin: 0 auto;
  max-width: 400px;
  border-left: 10px solid #ddd;
  /* Add 10px border to left */
  border-right: 10px solid #ddd;
  /* Add 10px border to right */
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}

label {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #686868;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  background-color: #43a047;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #388e3c;
}

input[type="submit"].submit-btn,
button.submit-btn {
  background-color: #43a047;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"].submit-btn:hover,
button.submit-btn:hover {
  background-color: #388e3c;
}

.error {
  color: #f44336;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

/* Mobile styles */

@media (max-width: 768px) {

  label,
  input,
  select {
    font-size: 0.9rem;
  }

  input[type="submit"] {
    font-size: 1rem;
  }
}

.header-image {
  display: flex;
  justify-content: center;
}

.header-image img {
  width: 100%;
  max-width: 100%;
}

.intro-text {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

.intro-text p {
  margin: 10px 0;
}

form input[type="text"] {
  width: 95%;
}

form input[type="email"] {
  width: 95%;
}

p.required-fields {
  text-align: center;
  font-size: 0.8rem;
  color: red;
}

label .required-field {
  color: red;
  font-size: 0.8rem;
}

select#country_code,
input#phone {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.checkbox {
  display: none;
}

.checkbox+label {
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px 8px;
  cursor: pointer;
  background-color: #ffffff;
}

.checkbox:checked+label {
  background-color: #2196F3;
  color: #fff;
}

.checkbox:focus+label {
  outline: 1px dotted #999;
  outline-offset: -4px;
}

.checkbox:disabled+label {
  opacity: 0.5;
  cursor: not-allowed;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group {
  display: inline-block;
}

.radio-group label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group input[type="radio"]+label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #686868;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #ffffff;
}

.radio-group input[type="radio"]:checked+label:before {
  background-color: #2196F3;
}

.radio-group input[type="radio"]:focus+label:before {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}

span#email-error.error-message {
  font-size: 14px !important;
  font-style: italic !important;
  color: orange !important;
}

span#phone-error.error-message {
  font-size: 14px !important;
  font-style: italic !important;
  color: orange !important;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  color: orange;
  background-color: #ffffff;
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: orange;
  color: white;
}

.success-message {
  color: orange;
  font-style: italic;
  text-align: center;
  font-size: 16px;
}

.error-message {
  color: orange;
  font-style: italic;
  text-align: center;
  font-size: 16px;
}

.country-selection {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.country-selection label {
  font-weight: bold;
  margin-right: 10px;
}

.country-selection input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  flex-grow: 1;
}

.radio-group-country {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group-country {
  display: inline-block;
}

.radio-group-country label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.radio-group-country input[type="radio"] {
  display: none;
}

.radio-group-country input[type="radio"]+label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #686868;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #ffffff;
}

.radio-group-country input[type="radio"]:checked+label:before {
  background-color: #2196F3;
}

.radio-group-country input[type="radio"]:focus+label:before {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}

.radio-group-country {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group-country {
  display: inline-block;
}

.radio-group-country label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.radio-group-country input[type="radio"] {
  display: none;
}

.radio-group-country input[type="radio"]+label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #686868;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #ffffff;
}

.radio-group-country input[type="radio"]:checked+label:before {
  background-color: #2196F3;
}

.radio-group-country input[type="radio"]:focus+label:before {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}

/*Radio Group enteraste*/
.radio-group-enteraste {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-group-enteraste {
  display: inline-block;
}

.radio-group-enteraste label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.radio-group-enteraste input[type="radio"] {
  display: none;
}

.radio-group-enteraste input[type="radio"]+label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #686868;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #ffffff;
}

.radio-group-enteraste input[type="radio"]:checked+label:before {
  background-color: #2196F3;
}

.radio-group-enteraste input[type="radio"]:focus+label:before {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
}

.small-italic-text {
  font-size: small;
  font-style: italic;
  font-weight: bold;
  color: #ffa500;
  text-align: left;
}

.btn-scale {
  min-width: 27px;
  min-height: 35px;
  width: 6%;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: 'Lato', sans-serif;
}

.btn-scale-asc-1,
.btn-scale-desc-10 {
  background-color: #FFFFFF;
}

.btn-scale-asc-1:hover,
.btn-scale-desc-10:hover {
  background-color: #ffa500;
}

.btn-scale-asc-2,
.btn-scale-desc-9 {
  background-color: #FFFFFF;
}

.btn-scale-asc-2:hover,
.btn-scale-desc-9:hover {
  background-color: #ffa500;
}

.btn-scale-asc-3,
.btn-scale-desc-8 {
  background-color: #FFFFFF;
}

.btn-scale-asc-3:hover,
.btn-scale-desc-8:hover {
  background-color: #ffa500;
}

.btn-scale-asc-4,
.btn-scale-desc-7 {
  background-color: #FFFFFF;
}

.btn-scale-asc-4:hover,
.btn-scale-desc-7:hover {
  background-color: #ffa500;
}

.btn-scale-asc-5,
.btn-scale-desc-6 {
  background-color: #FFFFFF;
}

.btn-scale-asc-5:hover,
.btn-scale-desc-6:hover {
  background-color: #ffa500;
}

.btn-scale-asc-6,
.btn-scale-desc-5 {
  background-color: #FFFFFF;
}

.btn-scale-asc-6:hover,
.btn-scale-desc-5:hover {
  background-color: #ffa500;
}

.btn-scale-asc-7,
.btn-scale-desc-4 {
  background-color: #FFFFFF;
}

.btn-scale-asc-7:hover,
.btn-scale-desc-4:hover {
  background-color: #ffa500;
}

.btn-scale-asc-8,
.btn-scale-desc-3 {
  background-color: #FFFFFF;
}

.btn-scale-asc-8:hover,
.btn-scale-desc-3:hover {
  background-color: #ffa500;
}

.btn-scale-asc-9,
.btn-scale-desc-2 {
  background-color: #FFFFFF;
}

.btn-scale-asc-9:hover,
.btn-scale-desc-2:hover {
  background-color: #ffa500;
}

.btn-scale-asc-10,
.btn-scale-desc-1 {
  background-color: #FFFFFF;
}

.btn-scale-asc-10:hover,
.btn-scale-desc-1:hover {
  background-color: #ffa500;
}

.checkbox-group label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  line-height: 1.2;
}

.checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.checkbox-group input[type="text"] {
  margin-left: 5px;
  width: 150px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

p.centered-text {
  text-align: center;
}

#my-paragraph {
  text-align: center;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: 18px;
}

p.instruction-fields {
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 123, 0);
}

label .instruction-field {
  color: rgb(255, 123, 0);
  font-size: 1rem;
}

.ticket-image {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
}

.label-with-border {
  border-bottom: 1px solid #000;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.response-cell label {
  display: inline-block;
  margin-right: 1px;
  text-align: center;
}
.response-cell2 label {
  display: inline-block;
  margin-right: 1px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #afacac;
}
.response-cell2 {
  white-space: nowrap;
}

.response-cell2 label {
  display: inline-block;
  margin-right: 1px;
}
.back-button {
    background-color: #43a047;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }